// Rinwizz CSS
$base-theme: Material;
$skin-name: rinwizz;
$swatch-name: Teal Orange Light;
// $swatch-name: #00a8c6 #8fbe00 Light;
$border-radius: 2px;
$primary-palette-name: teal;
// $primary-palette-name: #00a8c6;
$secondary-palette-name: orange;
// $secondary-palette-name: #8fbe00;
$theme-type: light;
$compat: false;

@import '~@nativescript/theme/index';
