// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~@nativescript/theme/core';
@import '~@nativescript/theme/default';
// Load old generic theme
// Load old generic theme
@import '~@nativescript/theme/core.compat';
@import '~@nativescript/theme/default.compat';
// @import '~@nativescript/theme/blue';
// Load old generic theme
// @import '~@nativescript/theme/blue.compat'

// Override variables here
@import '~@nativescript/theme/index';

// Rinwizz CSS
$base-theme: Material;
$skin-name: rinwizz;
$swatch-name: Teal Orange Light;
$border-radius: 2px;
$primary-palette-name: teal;
$secondary-palette-name: orange;
$theme-type: light;

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
.peIcon {
  font-family: 'Pe-icon-7-stroke';
  color: teal;
}
Page {
  font-family: 'Maven Pro, MavenPro-Regular';
}
.medium {
  font-family: 'Maven Pro, MavenPro-Medium';
}
